.lecture_inner_wrapper {
	margin: 100px 0px;
}


.lecture_menu label {

	position: relative;
}
.lecture_menu input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.checkmark_3 {
	display: inline-block;
	height: 15px;
	width: 15px;
	border: 1px solid #715774;
	background-color: transparent;
	border-radius: 3px;
	margin-right: 7px;
	margin-bottom: 7px;
}

.lecture_menu .actived {
	background-color: #715774;
	border-color: #715774;
}
.checkmark_3:after {
	content: "";
	position: absolute;
	display: none;
}

.lecture_menu .checkmark_3:after {
	width: 15px;
    height: 15px;
    background-color: #715774;
    border-radius: 3px;
}

.lecture_menu li {
	background-color: #DCE1ED;
	border-radius: 10px;
	margin: 10px 20px;
}

.lecture_menu li label {
	margin-bottom: 0px;
	color: #478ECC;
	font-size: 18px;
	font-weight: normal;
	cursor: pointer;
	width: 100%;
	height: 75px;
	display: flex;
	align-items: center;
	margin-left: 15px;
}

.lecture_item {
	display: none;
	margin: 10px 0px 10px 10px;
}
.lecture_text_box, .lecture_quiz_box, .quiz_result_box, .quiz_result_box_2 {
	background-color: #DCE1ED;
	border-radius: 20px;
}


.lecture_video_box {
	overflow: hidden;
	border-radius: 20px;
}
.lecture_text_box p {
	font-size: 14px;
	padding: 0px 25px 0px;
	color: #787E86;
	height: 420px;
	overflow-y: auto;
	border-top: 25px solid #DCE1ED;
	border-bottom: 25px solid #DCE1ED;
	margin: 0px;
}
.lecture_desc {
	width: 100%;

}
.lecture_desc .note_icon {
	display: inline-block;
	float: right;
}
.lecture_desc .lecture_intro, .lecture_desc .lecture_title {
	float: none;
	font-family: 'BPGNinoMtavruli';
	font-size: 14px;
}
.lecture_desc .lecture_title a {
	color: #787E86;
	transition: .3s ease-out;
}
.lecture_desc .lecture_title a:hover {
	color: #478ECC;
}
.lecture_desc .note {
	margin: 20px 0px;
	display: none;
}
.lecture_desc .note_icon a {
	display: inline-block;
	background-image: url(../images/note_icon.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 35px;
}
.on {
	display: block;
}

/* width */
.lecture_item p::-webkit-scrollbar {
    width: 10px;
    
}

/* Track */
.lecture_item p::-webkit-scrollbar-track {
    background: #DCE1ED;
}
 
/* Handle */
.lecture_item p::-webkit-scrollbar-thumb {
    background: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* Handle on hover */
.lecture_item p::-webkit-scrollbar-thumb:hover {
    background: #715774;
}

.lecture_text_box {
	overflow: hidden;
}

.lecture_desc .note {
	height: 420px;
	border-radius: 20px;
	overflow: hidden;
	width: 720px;
}

.note form {
	background-color: #DCE1ED;
}

.note {
	border-bottom: 10px solid #DCE1ED;
}


/* Quiz */
.lecture_quiz_box, .quiz_result_box, .quiz_result_box_2 {
	min-height: 345px;
	width: 100%;
	padding: 25px;
	position: relative;
}

.quiz_counter {
	color: #715774;
	font-size: 18px;
	font-family: 'BPGNinoMtavruli';
	text-align: right;
	margin-bottom: 15px;
}

.quiz_question {
	color:	#478ECC;
	font-size: 18px;
	font-family: 'BPGNinoMtavruli';
	margin-bottom: 40px;
}

.quiz_answer {
	display: table;
	font-size: 18px;
	color:	#478ECC;
	font-family: 'BPGNinoMtavruli';
	margin-bottom: 25px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     cursor: pointer;
     position: relative;
     font-weight: normal;
     padding-left: 25px;
}
.quiz_answer:last-child {
	margin-bottom: 0px;
}

.quiz_answer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark_quiz {
	position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #715974;
    border-radius: 3px;

}

 .quiz_answer input:checked ~ .checkmark_quiz {
	background-color: #715974;
}
.quiz_answer input:checked + span {
	color: #715974;
}
.quiz_buttons {
	position: absolute;
	bottom: 25px;
	right: 25px;
}

.quiz_button {
	font-size: 14px;
	font-family: 'BPGNinoMtavruli';
	color: #715974;
	border: 1px solid #715974;
	border-radius: 6px;
	background-color: transparent;
	padding: 10px 24px 6px; 
	transition: 0.3s;
}
.quiz_button:hover {
	background-color: #715974;
	color: #fff;
}

.quiz_button:first-child {
	margin-right: 15px;
}

.lecture_quiz_box {
   display: none;   /* temp! */
}



/* Quiz Result Box */ 

.correct_answer {
	margin-bottom: 15px;
}

.correct_answer, .wrong_answer {
	font-size: 18px;
	color: #478ECC;
	font-family: 'BPGNinoMtavruli';
}

.green_result {
	color: #339933;
	position: relative;
	padding-left: 22px;
	padding-right: 2px;

}

.red_result {
	color: #cc3333;
	position: relative;
	padding-left: 22px;
	padding-right: 2px;
}

.green_result:before {
	content: "";
	width: 13px;
	height: 12px;
	border-radius: 2px;
	background-color: #339933;
	display: block;
	position: absolute;
	left: 0px;
	top: 2.5px;
}

.red_result:before {
	content: "";
	width: 13px;
	height: 12px;
	border-radius: 2px;
	background-color: #cc3333;
	display: block;
	position: absolute;
	left: 0px;
	top: 2.5px;
}

.quiz_result_box {
	display: flex;
	align-items: center;

}

.quiz_result_box {
	display: none; /* temp */
}

/* Quiz Result Box 2 */

.quiz_result_box_2 .quiz_counter {
	position: absolute;
	bottom: 20px;
	right: 25px;
	font-size: 34px;
	font-family: 'BPGNinoMtavruli';
	margin-bottom: 0px;
	line-height: 1;

}

.quiz_result_box_2 .quiz_counter .green_result:before {
	display: none;
}


.result_wrapper {
	display: table;
	float: left;
	margin-bottom: 40px;
}
.quiz_result_box_2_inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.result_wrapper .quiz_question {
	margin-bottom: 15px;
}

.result_wrapper .quiz_answer {
	margin-bottom: 10px;
	position: relative;
}

.result_wrapper .quiz_answer span {
	position: absolute;
	left: 0px;
	top: 4px;
	width: 13px;
	height: 12px;
	border: 1px solid #715974;
	border-radius: 2px;
}

.result_wrapper .green span {
	border-color: #339933 !important;
	background-color: #339933 !important;
}

.result_wrapper .red span {
	border-color: #cc3333 !important;
	background-color: #cc3333 !important;
}
.result_wrapper .red {
	color: #715974;
}